.containerRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:  #0B305E 105%;
    
  }
  
  .containerRegister .informationRegister img{
    border-radius: 6px 0px 0px 6px;
    width: 42vw;
    height: 64vh;
  }
  
  .containerRegister .registerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42vw;
    height: 64vh;
    background-color: #fff;
    border-radius: 0px 6px 6px 0px;
  }
  
  .containerRegister .registerForm h2 {
    font-size: 36px;
    display: flex;
    opacity: 93%;
    color: #12B87C;
  }
  
  .containerRegister .registerForm form .content {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #1c83f6;
    border-radius: 0px 0px 4px 4px;
  }
  
  .containerRegister .registerForm .content i {
    display: flex;
    padding-top: 18px;
    margin: 0 6px;
    color: #aaa7a7;
  }
  
  .containerRegister .formInput {
    background: none;
    display: flex;
    opacity: 93%;
    font-size: 16px;
    border-radius: 4px 4px 4px 4px;
    border: 0;
    padding-left: 7px;
    margin-top: 7px;
    width: 20vw;
    height: 5vh;
    outline: none;
  }
  
  .containerRegister .registerForm button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 0px 0px 42px;
    width: 14vw;
    height: 5vh;
    border-radius: 14px 14px 14px 14px;
    background: #12B87C;
    border: solid 2px #fff;
    color: #eee9e9;
    outline: none;
    cursor: pointer;
  }

  .containerRegister .registerForm a {
    color: #1c83f6;
    margin: 14px 0px 0px 36px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 970px) {
    .containerRegister .informationRegister {
      display: none;
    }
    .containerRegister .registerForm {
      border-radius: 6px;
      width: 64vw;
      height: 80vh;
    }
    .containerRegister .registerForm form h2 {
      /* font-size: 300px; */
      display: flex;
      justify-content: center;
    }
    .containerRegister .registerForm form .content .formInput {
      width: 40vw;
    }
    .containerRegister .registerForm button {
      width: 40vw;
      height: 6vh;
      margin: 12px auto;
    }
  }

  @media (max-width: 530px) {
    .containerRegister .registerForm {
      width: 100%;
      height: 100%;
      background-color: #0B305E;
    }
    .containerRegister .registerForm p {
      color: #aaa7a7;
      margin-bottom: 8vh;
    }
    .containerRegister .registerForm form {
      width: 72vw;
    }
    .containerRegister .registerForm form h2 {
      margin-bottom: 4vh;
    }
    .containerRegister .registerForm form button {
      margin: 4vh auto;
      width: 60vw;
      border: 0;
    }
    .containerRegister .registerForm a {
      color: #aaa7a7;
    }
  }