* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */
  /*
  .nav-container {
    position: absolute;
    width: 100px;
    height: 294px;
    left: 10px;
    top: 0px;
  }
  
  .wrapper {
    
  }
  
  nav {
    display: flex;
    align-items: center;
    height: 72px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    color: #021718;
  }

.contato{
    position: absolute;
    width: 147px;
    height: 36px;
    left: 50rem;
    top: 60px;

    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 44px;
    
    color: inherit;
    text-decoration: none;
}

.contato-botao{
    position: absolute;
    width: 70px;
    height: 49px;
    left: 49.3rem;
    top: 60px;

    border: 1px solid #85C872;
    box-sizing: border-box;
    border-radius: 36px;
}

.causas{
    position: absolute;
    width: 90px;
    height: 36px;
    left: 56rem;
    top: 60px;

    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 44px;
    
    color: inherit;
    text-decoration: none;
}

.causas-botao{
    position: absolute;
    width: 108px;
    height: 49px;
    left: 55.3rem;
    top: 60px;

    border: 1px solid #85C872;
    box-sizing: border-box;
    border-radius: 36px;
}




.dicas{
    position: absolute;
    width: 147px;
    height: 36px;
    left: 64rem;
    top: 60px;

    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 44px;
    
    color: inherit;
    text-decoration: none;
}

.dicas-botao{
    position: absolute;
    width: 60px;
    height: 49px;
    left: 63.3rem;
    top: 60px;

    border: 1px solid #85C872;
    box-sizing: border-box;
    border-radius: 36px;
}
*/
  
/*
  .nav-items li {
    position: relative;
    list-style: none;
    margin-right: 10px;
    width: 147px;
    height: 36px;
    top: 20px;

    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    position: absolute;
    width: 70px;
    height: 38px;
    left: 370px;
    top: 20px;
    
    color: #021718;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

    border: 1px solid #85C872;
    box-sizing: border-box;
    border-radius: 36px;
  }

*/

.linha-vertical{
    position: relative;
    width: 2px;
    height: 500px;
    left: 50%;
    top: 150px;

    border: 2px solid #85C872;
}


main .card ul{
    list-style: none;
}


main .card ul li input{
    display: block;
    width: 500px;
    margin-top: 13px;
    padding-left: 16px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #b8b8b8

}
main .card ul li button {
    width: 500px;
    margin-top: 30px;
    text-align: center;
    height: 48px;
    border-radius: 6px;
    background-color: #53c794;
    border: 0;
    color: #fff;
    cursor: pointer;
}
main .card a {
    margin-top: 500px;
    width: 70%;
}




  