.containerUserLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: linear-gradient(to right, #00ccff 0%, rgb(0, 102, 204) 105%);
  width: 100vw;
  height: 94vh;
}

.containerUserLogin .content {
  /* padding: 48px 0px 0px 128px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48vw;
  height: 64vh;
  background-color: #fff;
  border-radius: 6px 0px 0px 6px;
}


.containerUserLogin .content .header {
  color: rgb(19, 19, 19);
  opacity: 95%;
  font-size: 20px;
  padding-bottom: 32px;
}

.containerUserLogin .content .header img {
  width: 32px;
}

.containerUserLogin .content form .container {
  display: flex;
  border-bottom: 2px solid #1c83f6;
  border-radius: 0px 0px 4px 4px;
}

.containerUserLogin .content form h2 {
  color:#12B87C;
  font-size: 36px;
  display: flex;
  opacity: 93%;
}

.containerUserLogin .content form .container .input {
  background: none;
  display: flex;
  opacity: 93%;
  font-size: 16px;
  border-radius: 4px 4px 4px 4px;
  border: 0;
  padding-left: 7px;
  margin-top: 7px;
  width: 20vw;
  height: 5vh;
  outline: none;
}

.containerUserLogin .content form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 18px 0px 0px 42px;
  width: 14vw;
  height: 5vh;
  border-radius: 14px 14px 14px 14px;
  background-color: #12B87C;
  border: solid 2px #fff;
  color: #eee9e9;
  outline: none;
  cursor: pointer;
}

.containerUserLogin .content form a {
  color: #0496eb;
  margin: 14px 0px 0px 36px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.containerUserLogin .content .container i {
  display: flex;
  padding-top: 18px;
  margin: 0 6px;
  color: #aaa7a7;
}

.containerUserLogin .container-1 {
  width: 34vw;
  height: 64vh;
  color: rgb(19, 19, 19);
  background-color: #d8d6d6;
  border-radius: 0px 6px 6px 0px;
}

.containerUserLogin .container-1 .aboutUs {
  opacity: 95%;
  margin: 36px 7px 0px 20px;
}

.containerUserLogin .container-1 h3 {
  font-size: 25px;
}

.containerUserLogin .container-1 .aboutUs img {
  width: 400px;
}