.photos {
    width: 100vw!important;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    background-image: url(./assets/images/imgcarousel1.jpg);
    background-size: cover;
    animation-name: bg-photos;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    float: right;
}

.container-proj-descricao h2 {
    color: #244879 !important;
    font-size: 48px;
}

.container-moradia-descricao h2 {
    color: #244879 !important;
    font-size: 32px;
}

.statistics-section {
    color: #fff;
    background-color: #244879 !important;
}

.statistics-section h3 {
    color: #fff !important;
}

.statistics {
    color: #ffffff !important;
    font-size: 62px !important;
}

.statistics-value {
    color: #ffffffc9 !important;
}

.container-devs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.container-devs h2 {
    color: #244879 !important;
    font-size: 48px !important;
}

.teste {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60vw !important;
}

.teste2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60vw !important;
}

.teste img {
    width: 20vw !important;
    width: 20vh !important;
}

.teste2 img {
    width: 20vw !important;
    width: 20vh !important;
}

.cardDev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes bg-photos {
    40% {
        background-image: url(./assets/images/imgcarousel2.jpg);
        background-size: cover;
    }
    60% {
        background-image: url(./assets/images/imgcarousel3.jpg);
        background-size: cover;
    }
    80% {
        background-image: url(./assets/images/imgcarousel4.jpeg);
        background-size: cover;
    }
    100% {
        background-image: url(./assets/images/imgcarousel5.jpeg);
        background-size: cover;
    }
}

@media (max-width: 576px) {
    .nav-menu {
        height: 15vh;
    }
    
    .nav-menu-btn {
        display: flex!important;
        flex-direction: row !important;
    }
    .nav-menu-btn li {
       margin: 0px 6px 0px 6px;
       
    }
    .statistics {
        font-size: 48px !important;
    }
    .statistics-section {
        width: 100vw;
    }
    .statistics-card {
        height: 5vh;
    }
    .statistics-value {
        padding: 0;
    }
    .cardDev {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .teste {
        justify-content: center;
    }
    .teste2 {
        margin-bottom: 10px;
        justify-content: center;
    }
    .namedev {
        font-size: 18px;
    }
    .container-devs h2 {
        color: #244879 !important;
        font-size: 32px !important;
    }
}

.js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}