html {
    scroll-behavior: smooth;
}

.js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
}

.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

#container-sobre{
    position: relative;
    margin-bottom: -7%;
}

/* #a-comunidade{
    position: relative;
    margin-left: 15%;
} */

@media (max-width: 769px) {
    .section-1 .h2 {
        font-size: 24px;
    } 
    .blockquote {
        width: 80vw;
    }
}
@media (max-width:440px) {
    .section-1 .h2 {
        font-size: 20px;
    }
    .blockquote {
        width: 96vw;
    }
}