@media (max-width: 769px) {
    .section-1 .h2 {
        font-size: 24px;
    } 
    .blockquote {
        width: 80vw;
    }
}
@media (max-width:440px) {
    .section-1 .h2 {
        font-size: 20px;
    }
    .blockquote {
        width: 96vw;
    }
}